/* 
 * Semantic UI bugfixes.
 * Most of them are already in the master, not yet released though.
 */
.ui.popup { padding: 0.35em 0.7em; }
.ui.fluid.container { margin: 0 !important; }
.ui.huge.header { font-size: 4em; font-weight: 200; }
.ui.text.menu { flex-wrap: wrap; justify-content: center; }
@media only screen and (max-width: 767px) {
	.ui.huge.header { font-size: 2.75em; }
	.ui.text.menu > .right.menu { margin-top: 10px; margin-right: auto; }
}
.ui.void.inverted.segment { background-color: #000000 !important; }
.ui.horizontal.list > .item { margin-right: 1em; margin-left: auto; }
.ui.multiple.search.selection.dropdown { min-height: auto; }
.ui.multiple.search.selection.dropdown > input { margin: 0 0 0 .64285714em; line-height: 2em; }
.ui.multiple.search.selection.dropdown > .menu { min-width: calc(100% + 2px) !important; }
.ui.multiple.search.selection.dropdown > .menu > .message { white-space: normal; }
.ui.accordion .accordion .title .dropdown.icon,
.ui.accordion .title .dropdown.icon { margin-left: -5px; }
.ui.icon.input .icon { display: flex; align-items: center; justify-content: center; }